<div class="footer">
  <div class="grid-container">
    <div class="brand grid-50">
    <object type="image/svg+xml" data="assets/vectors/{{site.onenorth_logo_svg}}" class="brand__logo brand__logo--small"></object>
    </div>
    <div class="contact-info grid-50">
      <span class="contact-street">{{site.contact.street_1}}</span><span class="comma">,&nbsp;</span>
      <span class="contact-street">{{site.contact.street_2}}</span><span class="comma">,&nbsp;</span>
      <span class="contact-city">{{site.contact.city}}</span><span class="comma">,</span>&nbsp;<span class="contact-state">{{site.contact.state}}</span>&nbsp;<span class="contact-postalcode">{{site.contact.postal_code}}</span>
      <span class="pipe">|</span><a class="contact-phone" href="tel:{{site.contact.phone}}" title="Tel: {{site.contact.phone}}">{{site.contact.phone}}</a>
    </div>
  </div>
</div>
